[submodule "evmbackend/lib/forge-std"]
	path = evmbackend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evmbackend/lib/openzeppelin-contracts"]
	path = evmbackend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "evmbackend/lib/foundry-chainlink-toolkit"]
	path = evmbackend/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
